$font-stack: 'Roboto', sans-serif;

.comment-main {
    font-family: $font-stack;
    display: flex;
    align-self: flex-start;
    

    .comment-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 1325px;
        padding-top: 25px;
    }

        .comment-form-wrapper {
            display: flex;
            width: 1325px;
            padding-top: 40px;
        
            .comment-form {
                display: flex;
                flex-direction: column;
                width: 1325px;
                
                .comment-input-container {
                    display: flex;
                    flex-direction: row;

                    .fa-user {
                        font-size: 22px;
                    }


                    #comment-form-id {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        border-bottom: 1px solid rgba(225, 225, 225, 0.5);
                        color: white;
                        width: 1280px;
                        font-size: 16px;
                        margin-left: 5px;
                    }

                    #comment-form-id:focus {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        border-bottom: 2px solid black;
                        color: white;
                        width: 1280px;
                        font-size: 16px;
                        margin-left: 5px;
                    }


                }

                

                .comment-button-container {
                    display: flex;
                    justify-content: center;
                    align-self: flex-end;
                    width: 101px;
                    height: 37px;
                    background: #065fd4;
                    border-radius: 4px;
                    // padding-top: 5px;
                    margin-top: 5px;

                    .comment-btn {
                        font-size: 14px;
                        padding: 0;
                        border: none;
                        background: none;
                        color: white;
                        cursor: pointer;
                        
                    }


                    .comment-btn:disabled {
                        font-size: 14px;
                        border-radius: 4px;
                        width: 101px;
                        height: 37px;
                        background: gray;
                        color: black;
                    }

                }


            }
        
        
        }

}

.single-comment {
    display: flex;
    flex-direction: row;
    // height: 78px;
    align-items: center;

    .comment-list-wrapper {
        height: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
    }
}

.no-comment-wrapper {
    padding-top: 15px;
}

