$font-stack: 'Roboto', sans-serif;

.comment-main {
    font-family: $font-stack;
    display: flex;
    align-self: flex-start;
    width: 100%;
    

    .comment-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 25px;
        width: 100%;
    }

        .comment-form-wrapper {
            display: flex;
            width: 100%;
            padding-top: 40px;
        
            .comment-form {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .comment-input-container {
                    display: flex;
                    flex-direction: row;

                    .fa-user {
                        font-size: 22px;
                    }


                    #comment-form-id {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        border-bottom: 1px solid rgba(225, 225, 225, 0.5);
                        color: white;
                        width: 100%;
                        font-size: 16px;
                        margin-left: 10px;
                    }

                    #comment-form-id:focus {
                        border: 0;
                        outline: 0;
                        background: transparent;
                        border-bottom: 2px solid black;
                        color: white;
                        font-size: 16px;
                        margin-left: 10px;
                    }


                }

                

                .comment-button-container {
                    display: flex;
                    justify-content: center;
                    align-self: flex-end;
                    width: 101px;
                    height: 37px;
                    background: #065fd4;
                    border-radius: 4px;
                    margin-top: 5px;

                    .comment-btn {
                        font-size: 14px;
                        padding: 0;
                        border: none;
                        background: none;
                        color: white;
                        cursor: pointer;
                        width: 101px;
                        height: 37px;
                        
                        
                    }


                    .comment-btn:disabled {
                        font-size: 14px;
                        border-radius: 4px;
                        width: 101px;
                        height: 37px;
                        background: gray;
                        color: black;
                        
                    }

                }


            }
        
        
        }

}



.single-comment {
    display: flex;
    flex-direction: row;
    // height: 78px;
    height: 100px;
    // width: 1325px;
    align-items: center;
    width: 100%;

    .fa-user {
        font-size: 22px;
        height: 22px;
    }

    .comment-list-wrapper {
        height: 90px;
        // width: 1325px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5px;
        width: 100%;

        .comment-details {
            display: flex;
            flex-direction: column;
            justify-content: center;

                .comment-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 85px;
                    margin-left: 10px;
                }

                .comment-top {
                    display: flex;
                    flex-direction: row;
                    

                    .comment-date {
                        margin-left: 5px;
                        color: #AAAAAA;
                    }

                }
            
        }

        .comment-delete-dropdown {
            position: relative;
            display: inline-block;
            right: 0px;
            cursor: pointer;
            align-self: center;
        

            .delete-dropdown {
                display: none;
                position: absolute;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);
                z-index: 1;

            }

            .delete-dropdown p {
                display: block;
                // height: 0px;
                padding: 12px 16px;
                text-decoration: none;
                cursor: pointer;
            }

            
        
        
        }

        .delete-dropdown p:hover {
            background-color: #ddd;
            cursor: pointer;
        }

        .comment-delete-dropdown:hover .delete-dropdown {
            display: block;
            cursor: pointer;
        }
        
        
        
     
        


    }
}

.no-comment-wrapper {
    padding-top: 15px;
    width: 100%;
}

.comment-likes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
    color: rgba(225, 225, 225, 0.5);

    .comment-icons {
        cursor: pointer;
    }

    .comment-icons:hover {
        color: white;
    }

}  

.edit-state-wrapper {
    width: 100%;
}


