$font-stack: 'Roboto', sans-serif;

.landing-page {
    font-family: $font-stack;
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    // background-color: pink;
    // height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

   
}

