$font-stack: 'Roboto', sans-serif;

.left-nav-bar {
    background: #212121;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 1456px;
    
    font-size: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 56px;
    
    

    .left-group1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(225,225,225,0.1);
        
        
        .left-home {
            display: flex;
            
            
        }

            ul {
                width: 240px;
                height: 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 16px;
                padding-left: 50px; 
            }

                ul:hover {
                    background-color: rgb(75, 75, 75);
                    width: 190px;
                    justify-content: flex-start;
                    align-items: center;
                }


                i {
                    margin-right: 24px;
                    color: white;
                    text-decoration: none;
                    font-size: 18px;
                }

                .home-link, .library-link, .liked-videos-link, .github-link {
                    font-size: 14px;
                    color: white;
                    text-decoration: none;
                }


    }

    .left-group2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid rgba(225,225,225,0.1); 
        height: 123px;
        padding: 16px 28px;
        
        ul {
            display: flex;
            justify-content: flex-start;

            p {
                font-size: 14px;
                
                color: white;
            }

            

            


        }

        .signin-btn-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-self: flex-start;
            border: 1px solid #3EA6FF;
            width: 99px;
            height: 31px;
            padding: 5px 15px;

            .fa-user {
                background: #3EA6FF;
                padding: 7px;
                border-radius: 50%;
                font-size: 15px;
                color: black;
            }

            .signin-btn {
                display: flex;
            }
            
            .left-signin-link {
                font-size: 14px;
                color: #3EA6FF;
                text-decoration: none;
                font-weight: bold;
                    
            }
  

        }
        
    }

}










// .signin-link .left-signin-link {
//     text-decoration: none;
//     color: white;
// }

// .left-signin-link {
//     border: 1px solid blue;
// }

// .left-signin-link :visited {
//     color: white;
// }

// .liked-videos-link {
//     color: white;
//     text-decoration: none;
// }

// .liked-videos-link :visited {
//     color: white;
// }

.library-link {
    color: white;
    text-decoration: none;
}

// .library-link :visited {
//     color: white;
// }



// .home-link :visited {
//     color: white;
// }

// .signin-btn {
//     display: flex;
//     justify-content: center;

//     .signin-link {
//         display: flex;
//         // border: 2px solid yellow;
//     }
// }

// .left-icons {
//     font-size: 30px;
// }




