
.left-nav-bar {
    background: #212121;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 1456px;
    border: 1px solid black;
    font-size: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 56px;
    
    

    .left-group1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(225,225,225,0.1);
        padding-left: 50px; 
        
        .left-home {
            display: flex;
            
            
        }

            ul {
                width: 240px;
                height: 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 16px;
            }


                i {
                    margin-right: 24px;
                    color: white;
                    text-decoration: none;
                    font-size: 18px;
                }

                .home-link, .library-link, .liked-videos-link {
                    font-size: 14px;
                    color: white;
                    text-decoration: none;
                }


    }

    .left-group2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid rgba(225,225,225,0.1); 
        height: 123px;
        padding: 16px 32px;
        
        ul {
            display: flex;
            justify-content: flex-start;

            p {
                font-size: 14px;
                color: white;
            }

            i {
                margin-right: 24px;
                color: white;
                text-decoration: none;
                font-size: 18px;
            }

            .left-signin-link {
                font-size: 14px;
                color: #1A73E8;
                text-decoration: none;
            }


        }

        .signin-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-start;
            border: 1px solid #1A73E8;
            width: 113px;
            height: 36px;

            .signin-btn {
                display: flex;

                .left-signin-link {
                    font-size: 14px;
                }
            }

        }
        
    }

}










// .signin-link .left-signin-link {
//     text-decoration: none;
//     color: white;
// }

// .left-signin-link {
//     border: 1px solid blue;
// }

// .left-signin-link :visited {
//     color: white;
// }

// .liked-videos-link {
//     color: white;
//     text-decoration: none;
// }

// .liked-videos-link :visited {
//     color: white;
// }

.library-link {
    color: white;
    text-decoration: none;
}

// .library-link :visited {
//     color: white;
// }



// .home-link :visited {
//     color: white;
// }

// .signin-btn {
//     display: flex;
//     justify-content: center;

//     .signin-link {
//         display: flex;
//         // border: 2px solid yellow;
//     }
// }

// .left-icons {
//     font-size: 30px;
// }




