$font-stack: 'Roboto', sans-serif;

.login-form-one-container {
    width: 448px;
    height: 500px;
    padding: 48px, 40px, 36px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-stack;
    margin: auto;
    margin-top: 235px;
    text-align: center;
    border-radius: 7px;
    box-sizing: border-box;
    
    
}

.login-form-one-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    width: 368px;

    
}


.google-logo {
    width: 75px;
    height: 24px;
}

.signin-words {
    height: 47px;
    padding: 16px 0px 0px;
    font-size: 24px;
}

.signin-words2 {
    height: 32px;
    padding: 8px 0px 0px;
    font-size: 16px;
}

.login-form-one-main {
    width: 448px;
    height: 298px;
    padding: 24px 0px 0px;
    

    .login-form-one-input {
        width: 368px;
        height: 100px;
        
    }

        .login-form-one-email-container {
            width: 366px;
            height: 30px;
            margin: 1px 1px 0px 25px;
            padding: 13px 15px;
            border: solid 1px  rgb(218, 218, 218);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            
            
            
            
        }

            .login-form-one-email {
                width: 366px;
                font-size: 16px;
                border: none;
                height: 28px;
                outline: none;
                
            }
}

.guest-login-button-container {
    display: flex;
    width: 398px;
    height: 58px;
    margin: 1px 1px 0px 25px;

    .guest-login-button {
        width: 395px;
        font-size: 16px;
        background-color: #1A73E8;
        color: white;
        box-shadow: none;
        border-radius: 4px;
        border: none;
        
    }

}

.login-form-one-button {
    margin: 26px 0px 0px -8px;
    padding: 0px 0px 20px;


}

.login-form-one-bottom-buttons {
    display: flex;
    justify-content: space-between;
    height: 150px;
    

    .login-form-one-button {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 395px;
        padding-top: 30px;
        
    }
}


.create-account-button {
    color: #1A73E8;
    text-decoration: none;
    font-size: 15px;
}

.login-next-button-container {
    display: flex;
    height: 80px;
    
    

    .login-next-button {
        display: flex;
        width: 50px;
        background-color: #1A73E8;
        border-radius: 4px;
        height: 35px;
        color: white;;
    }

}






