$font-stack: 'Roboto', sans-serif;

.login-form-one-container {
    width: 448px;
    height: 500px;
    padding: 48px, 40px, 36px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-stack;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 7px;
    
}

.login-form-one-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    width: 368px;

    
}


.google-logo {
    width: 75px;
    height: 24px;
}

.signin-words {
    height: 47px;
    padding: 16px 0px 0px;
    font-size: 24px;
}

.signin-words2 {
    height: 32px;
    padding: 8px 0px 0px;
    font-size: 16px;
}

.login-form-one-main {
    width: 448px;
    height: 298px;
    padding: 24px 0px 0px;

    .login-form-one-input {
        width: 368px;
        height: 180px;
    }

        .login-form-one-email-container {
            width: 366px;
            height: 54px;
            margin: 1px 1px 0px;
            padding: 13px 15px;
        }

            .login-form-one-email {
                width: 366px;
            }
}

.login-form-one-button {
    width: 376px;
    height: 68px;
    margin: 26px 0px 0px -8px;
    padding: 0px 0px 20px;
}

