$font-stack: 'Roboto', sans-serif;

.top-nav-bar {
    font-family: $font-stack;
    background: red;
    height: 56px;
    color: white;
    box-sizing: border-box;
    display: flex;
    // flex-direction: row;
    align-items: center;

    // .top-nav-links {
    //     display: flex;
    //     justify-content: space-between;
    // }
    
}

// .loggedout-top-nav {
    
//     display: flex;

//     // .div {
//     //     display:flex;
//     //     justify-content: space-between;
//     // }
    
    
//     .left-top-nav, .center-top-nav, .right-top-nav {
//         display: flex;
//         // justify-content: space-between; WHY IS THIS NOT SPACING THEM?
//         font-size: 20px;
        

//     }

//     // ul {
//     //     align-content: center;
//     // }

// }


.loggedout-top-nav {
    display: flex;
    div {
        flex-direction: row;
    }
}

.left-icon-container {
    display: flex;
    ul {
        flex-direction: row;
    }
}


.search-bar-container {
    display: flex;
    ul {
        flex-direction: row;
    }
}


.right-icon-container {
    display: flex;
    ul {
        flex-direction: row;
    }
}


.signin-container {
    border: 2px solid blue;
    display: flex;

    ul {
        flex-direction: row;
    }
}

.signin-btn {
    
    color: white;
    text-decoration: none;
}

.signin-btn :visited {
    color: white;
}





