$font-stack: 'Roboto', sans-serif;

.top-nav-bar {
    position: sticky;
    top: 0;
    // height: 56px;
}


.top-nav-container {
    font-family: $font-stack;
    background: #202020;
    height: 56px;
    padding: 0px 16px;
    width: 100%;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    border-bottom: 1px solid rgba(225,225,225, 0.1);
    // z-index: 9999;
    
    
}

.left-top-nav {
    // display: flex;
    // justify-content: space-around;
    width: 100px;
    font-size: 20px;
    margin-left: 15px;
    
}


.center-top-nav {
    justify-content: center;
    font-size: 20px;
    // padding-left: 20px;
    min-width: 10vw;
    

    .search-bar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        // min-width: 10vw;
        height: 40px;
        
        
    }
        // ul {
        //     align-content: center;
        // }

        .search-bar {
            width: 30vw;
            height: 20px;
            font-size: 20px;
            align-self: center;
            background-color: #121212;
            border: 1px solid rgba(225,225,225,0.1);
            border-right: none;
            border-radius: 2px 0px 0px 2px;
            margin-left: 4px;
            padding: 5px 11px;
        }

        input[type=text] {
            color: white;
            font-size: 16px;
            
        }

        input[type=text]:focus {
            border: 1px solid #1A73E8;
            outline: none;
            
        }

        .search-btn {
            width: 65px;
            height: 32px;
            padding: 1px 6px;
            background: #FFFFFF16;
            border: 1px solid rgba(225,225,225, 0.1);
            border-left: none;
            border-radius: 0px 2px 2px 0px;
            cursor: pointer;
        }

        .fa-search {
            color: grey;
            
        }

        
}

.right-top-nav {
    display: flex;
    justify-content: space-around;

    .signin-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 105px;
        height: 40px;
        border: 1px solid #3EA6FF;
    }

    .signin-btn {
        color: #3EA6FF;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
    }

    .fa-user {
        background: #3EA6FF;
        padding: 7px;
        border-radius: 50%;
        font-size: 15px;
        color: black;
    }

}

.top-nav-youtube-icon {
    color: white;
    text-decoration: none;
}

.top-nav-youtube-icon :visited {
    color: white;
    text-decoration: none;
}

.right-top-nav-login {
    display: flex;
    justify-content: space-around;

    div {
        display: flex;
        justify-content: space-around;
        width: 100px;
    }
}


.drop-down-container {
    position: relative;
    display: inline-block;
    
}

.fa-video {
    padding-right: 0px;
    color: white;
    text-decoration: none;
}

.avatar {
    color: white;
    background-color: black;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.fa-user {
    background: #3EA6FF;
    padding: 7px;
    border-radius: 50%;
    font-size: 15px;
    color: black;
}

.dropdown {
    border: 1px solid rbga(0, 0, 0, 0.04);
    position: absolute;
    top: 100%;
    right: 0%;
    width: 120px;
    height: 40px;
    

    .dropdown-ul {
        background: #202020;
        border: 1px solid rbga(0, 0, 0, 0.04);
        list-style: none;
        padding: 0;
        margin: 0;
    }

        li {
            padding: 8px 12px;
        }

        a:link {
            color: white;
            text-decoration: none;
        }

        a:visited {
            color: white;
            text-decoration: none;
        }

        li:hover {
            background-color: rgb(75, 75, 75);
        }

}

.logout-btn {
    color: white;
    background-color: black;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}


.top-right-nav {
    display: flex;
    justify-content: space-around;
    width: 70px;
    align-items: center;
    margin-right: 15px;

}

.video-dropdown-container {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.video-btn {
    color: white;
    background-color: black;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.fa-video {
    font-size: 18px;
}

.video-dropdown {
    
    position: absolute;
    top: 100%;
    left: 0%;
    width: 120px;
    height: 40px;
    

    .video-dropdown-ul {
        background: #202020;
        border: 1px solid rbga(0, 0, 0, 0.04);
        list-style: none;
        padding: 0;
        margin: 0;
    }

        li {
            padding: 8px 12px;
        }

        a:link {
            color: white;
            text-decoration: none;
        }

        a:visited {
            color: white;
            text-decoration: none;
        }

        li:hover {
            background-color: rgb(75, 75, 75);
        }
}


.topright-nav {
    width: 10%;
}


.topright-upload {
    position: relative;
    display: inline-block;
    
}

.topright-video-dropdown-content {
    display: none;
    position: absolute;
    background: #202020;
    z-index: 1;
    min-width: 160px;
}

.topright-upload:hover .topright-video-dropdown-content {
    display: block;
}

.topright-user {
    position: relative;
    display: inline-block;
}

.topright-user-dropdown-content {
    display: none;
    position: absolute;
    background: #202020;
    z-index: 1;
    min-width: 160px;
}

.topright-user:hover .topright-user-dropdown-content {
    display: block;
}











