$font-stack: 'Roboto', sans-serif;

// .user-show-container {
//     padding-top: 75px;
// }


.user-show-main {
    display: flex;
    flex-direction: row;
    
}

.user-show-container {
    display: flex;
    flex-direction: row;
}