$font-stack: 'Roboto', sans-serif;


.show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    

    .top-nav-bar {
        height: 56px;
    }
}





// .video-container {
//     padding-top: 75px;
// }