$font-stack: 'Roboto', sans-serif;

table {
    padding-top: 56px;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: separate;
}

th, td {
    padding: 5px;
    text-align: left;
}

.table-wrapper {
    padding-top: 56px;
}