$font-stack: 'Roboto', sans-serif;


.show-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #181818;
    
    .top-nav-bar {
        height: 56px;
    }

    .show-container {
        display: flex;
        color: white;
    }

    .video-show-left {
        display: flex;
        flex-direction: column;
        align-self: start;
        justify-content: center;
        align-items: center;
        margin: 0px 74.5px;
        padding-top: 25px;
        box-sizing: border-box;
        
    }

        .show-info {
            display: flex;
            flex-direction: column;
            align-self: start;
            
            width: 1325px;
            height: 108px;
            padding: 20px 0px 8px;
        }


            .show-title {
                font-size: 1.17rem;
                color: white;
            }

            .show-metrics {
                display: flex;
                align-items: center;
                color: white;
                width: 1325px;
                height: 40px;
                border-bottom: 1px solid rgba(225,225,225,0.1);
            }

        .user-info {
            width: 1325px;
            height: 108px;
            color: white;
        }

   

    .video-show-right {
        display: flex;
        padding-top: 25px;
    }

    .video-slide-content {
        display: flex;
        padding-bottom: 10px;
    }

    .video-slide-info {
        padding-left: 10px;
    }

    .video-slide-title {
        font-size: 16px;
    }

    .video-slide-username {
        font-size: 14px;
        color: gray;
    }

    .video-slide-created {
        font-size: 14px;
        color: gray;
    }

}





